[Unit]
Description     = Chronos Sentry
Wants           = network-online.target
After           = network-online.target 

[Service]
User            = ${USERNAME}
Type            = simple
WorkingDirectory= ${NODE_HOME}
ExecStart       = /usr/bin/bash -c '${NODE_HOME}/scripts/start-sentry.sh'
KillSignal=SIGINT
TimeoutStopSec=2
LimitNOFILE=32768
Restart=always
RestartSec=5
SyslogIdentifier=chronos-sentry

[Install]
WantedBy	= multi-user.target